.company-index {
  flex: 1;
  display: flex;

  .company-details-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    .company-details {
      h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
        color: $primary-btn-color;
      }
    }
  }
}
