.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  min-width: 300px;
  background: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .close-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.235s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}
