.department-table {
  max-width: 800px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 45px;
    .cell {
      display: flex;
      align-items: center;
    }
  }
}
